body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.cardapio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.pizza-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    max-width: 200px;
    text-align: center;
}

.pizza-item img {
    max-width: 100%;
    border-radius: 8px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #ff4500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
