form {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  width: 150px;
  text-align: right;
  margin-right: 10px;
}

input {
  width: 300px;
}

button {
  margin-left: auto;
  margin-right: auto;
}